html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px; }

* {
  font-family: "Rubik", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#hero {
  height: 40vh;
  background: url("/images/pattern-bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 1rem; }
  #hero h1 {
    margin-top: 0;
    color: white; }
  #hero form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #hero form #userInput,
    #hero form button {
      padding: 1rem;
      border: none; }
    #hero form #userInput {
      width: 30vw;
      overflow: hidden; }
    #hero form button {
      background-color: black; }

section {
  width: 70vw;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 30vh;
  border-radius: 5px;
  background-color: white;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  section p {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: smaller;
    font-weight: 600;
    color: gray; }
  section div {
    padding: 0 2rem;
    border-right: 1px solid gray; }
  section div:last-child {
    border-right: 0; }

main {
  height: 60vh;
  margin-top: -30vh; }

@media only screen and (max-width: 1020px) {
  html,
  body {
    font-size: smaller; }
  main {
    margin-top: -50vh; }
  #userInput {
    width: 80% !important; }
  section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto !important;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    z-index: 1000000; }
    section div {
      border: 0; } }
